@inherits Kamiizumi.NetworkDeviceScanner.Web.Components.Devices.DeviceCardComponent

<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title mb-2">@DeviceCardVm?.UserDefinedName</h5>
        <h6 class="card-subtitle mb-3">@DeviceCardVm?.ProfileName</h6>

        <dl class="row mb-0">
            <dt class="col-sm-2"><i class="fas fa-clock"></i></dt>
            <dd class="col-sm-10 mb-1">@DeviceCardVm?.LastSeenAt</dd>

            <dt class="col-sm-2"><i class="fas fa-grip-horizontal"></i></dt>
            <dd class="col-sm-10 mb-1">@DeviceCardVm?.LastSeenIp</dd>

            <dt class="col-sm-2"><i class="fas fa-tag"></i></dt>
            <dd class="col-sm-10 mb-0">@DeviceCardVm?.LastSeenHostName</dd>
        </dl>
    </div>
</div>
