@page "/profiles"
@inherits Kamiizumi.NetworkDeviceScanner.Web.Components.Profiles.ProfileTableComponent
@using Kamiizumi.NetworkDeviceScanner.Web.Components.Profiles
@inject Kamiizumi.NetworkDeviceScanner.Services.ProfileService ProfileService
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-10">
            <div class="card">
                <h4 class="card-header text-center">Profiles</h4>

                <ul class="list-group list-group-flush">
                    @foreach (var profile in ProfileTableVms)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between w-100">
                                <div class="media">
                                    <i class="align-self-center mr-3 text-secondary fas fa-user-circle" style="font-size: 4rem;"></i>

                                    <div class="media-body">
                                        <h5 class="mt-1">@profile.Name</h5>
                                        <p class="mb-0">@profile.DeviceCount device(s)</p>
                                    </div>
                                </div>

                                <p class="align-self-center mb-0">
                                    <button class="btn btn-danger" @onclick="(() => OnDelete(profile.Id))">Delete</button>
                                </p>
                            </div>
                        </li>
                    }

                    <li class="list-group-item text-center">
                        <button type="button" class="btn btn-primary btn-lg my-2" data-toggle="modal" data-target="#ProfileCreateModal">
                            <i class="fas fa-plus"></i> Create new profile
                        </button>
                    </li>
                </ul>

                <div class="card-footer text-muted">
                    @ProfileTableVms.Count() profile(s)
                </div>
            </div>
        </div>
    </div>
</div>

<ProfileCreateModal />

@code
{
    async Task OnDelete(int profileId)
    {
        await ProfileService.Delete(profileId);
        NavigationManager.NavigateTo("/profiles", true);
    }
}